# dependencies
/node_modules/
/.pnp/
/.pnp.js
.yarn/install-state.gz

# Next.js build output (SSR)
.next/

# Uncomment if you *also* do a static export
# /out/

# Vercel build output / local config
.vercel/
.vercel/output/

# Environment files
.env                # ignore any root .env
.env.*.local        # dev/prod/test locals (e.g. .env.development.local)

# TypeScript
*.tsbuildinfo
next-env.d.ts

# production builds (if you generate a standalone /build folder)
/build/

# testing
/coverage/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
